<% if @is_public %>
<h1><%= @user.name %>的个人资料</h1>

<%= render :partial=>'/account/public_profile', :locals=>{ :user=>@user } %>

   <b>公开的任务列表</b><br/>
   <%= render :partial=>'/shared/tasklists', :object => @user_tasklists, :locals=>{:is_public=>@is_public} %>

<% else %>
<h1>任务列表</h1>
<hr>
	<%= render :partial=>'/account/user_profile', :locals=>{ :user=>@user } %>
	<div class="form">
    	<%= render :partial=>'/shared/tasklists', :object => @user_tasklists, :locals=>{:is_public=>@is_public} %>
	</div>
<% end %>